<div class="progress-report">
  <h1><%= @family.name %> Progress Report</h1>

  <table>
    <thead>
      <tr>
        <th>Within One Month after Baptism or Return to Activity</th>
        <th>Date completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>The bishop has interviewed the member and reviewed the principle of tithing and other worthiness matters to assist in preparation for temple worship</td>
        <td> </td>
      </tr>
      <tr>
        <td>Eligible males have been interviewed for and received the Aaronic Priesthood</td>
        <td> </td>
      </tr>
      <tr>
        <td>The member is enrolled in the Gospel Principles course</td>
        <td> </td>
      </tr>
      <tr>
        <td>Ward and full-time missionaries are reteaching the missionary lessons (as outlined in Preach My Gospel)</td>
        <td> </td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th>Within Six Months after Baptism or Return to Activity</th>
        <th>Date completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>The member has been interviewed for and received a responsibility or calling in the Church</td>
        <td> </td>
      </tr>
      <tr>
        <td>The member is regularly attending sacrament meeting</td>
        <td> </td>
      </tr>
      <tr>
        <td>The member has started a family group sheet</td>
        <td> </td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th>As Soon as Appropriate during the First Year</th>
        <th>Date completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Eligible and worthy males have been prepared for and received the Melchizedek Priesthood</td>
        <td> </td>
      </tr>
      <tr>
        <td>Members ages 12 and older have participated in proxy baptisms in the temple (where feasible)</td>
        <td> </td>
      </tr>
      <tr>
        <td>Eligible members have completed the temple preparation seminar (see Endowed from on High: Temple Preparation Seminar Teacher's Manual)</td>
        <td> </td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th>When Prepared, but Not before One Year following Baptism</th>
        <th>Date completed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Eligible and worthy adults have been endowed</td>
        <td> </td>
      </tr>
      <tr>
        <td>The family has been sealed in the temple (if applicable)</td>
        <td> </td>
      </tr>
    </tbody>
  </table>
</div>
